<?xml version="1.0"?>
<robot name="automower" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find am_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find am_description)/urdf/wheel.urdf.xacro" />
  <xacro:include filename="$(find am_description)/urdf/swivel_wheel.urdf.xacro" />
  <xacro:include filename="$(find am_description)/urdf/sensorpos.urdf.xacro" />

  <!-- PROPERTY LIST -->
  <!--All units in m-kg-s-radians unit system -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Main Body-base -->
  <xacro:property name="base_x_size" value="0.72" />
  <xacro:property name="base_y_size" value="0.55" />
  <xacro:property name="base_z_size" value="0.23" />
  <xacro:property name="base_mass" value="15" /> <!-- in kg-->
  <xacro:property name="base_z_origin_to_wheel_origin" value="-0.07" />

  <!--Inertial macros for the box and cylinder. Units are kg*m^2-->
  <xacro:macro name="box_inertia" params="m x y z">
    <inertia ixx="${m*(y*y+z*z)/12}" ixy="0" ixz="0"
             iyy="${m*(x*x+z*z)/12}" iyz="0"
             izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>
  <!-- BASE-LINK -->
  <!--Actual body/chassis of the robot-->
  <link name="base_link">
    <inertial>
      <mass value="${base_mass}" />
      <origin xyz="0.165 0 -0.10" />
      <!--The 3x3 rotational inertia matrix. -->
      <!--<box_inertia  m="${base_mass}" x="${base_x_size}" y="${base_y_size}" z="${base_z_size}"/>-->
      <box_inertia m="${5*base_mass}" x="${base_x_size}" y="${base_y_size}" z="${base_z_size}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}" />
      <geometry>
        <mesh filename="package://am_description/urdf/am_chassis.stl" scale="0.001 0.001 0.001" />
        <box size="${base_x_size} ${base_y_size} ${base_z_size}" />
      </geometry>
      <material name="DarkGreen" />
    </visual>
    <collision>
      <origin xyz="0.17 0 0.08" rpy="0 0 0 " />
      <geometry>
        <box size="0.65 0.50 0.20" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- WHEELs -->
  <wheel fb="back" lr="right" parent="base_link" translateY="-0.24" translateX="0.0" translateZ="0.0"
         wheel_radius="0.1225" wheel_height="0.032" flip="1" />
  <wheel fb="back" lr="left" parent="base_link" translateY="0.24" translateX="0.0" translateZ="0.0"
         wheel_radius="0.1225" wheel_height="0.032" flip="1" />

<!--
  <wheel fb="front" lr="right" parent="base_link" translateY="-0.15" translateX="0.35" translateZ="-0.065"
         wheel_radius="0.06" wheel_height="0.05" flip="1"/>
  <wheel fb="front" lr="left" parent="base_link" translateY="0.15" translateX="0.35" translateZ="-0.065"
         wheel_radius="0.06" wheel_height="0.05" flip="1"/>
-->
  <swivel_wheel fb="front" lr="right" parent="base_link" translateY="-0.16" translateX="0.355" translateZ="0.03"
                wheel_radius="0.05" wheel_height="0.05" flip="0" />
  <swivel_wheel fb="front" lr="left" parent="base_link" translateY="0.16" translateX="0.355" translateZ="0.03"
                wheel_radius="0.05" wheel_height="0.05" flip="0" />


  <!-- LOOP SENSORs -->
  <sensorpos name="loop_front_center" parent="base_link" translateX="0.38" translateY="0.0" translateZ="-0.04" />
  <sensorpos name="loop_front_right" parent="base_link" translateX="0.38" translateY="-0.07" translateZ="-0.04" />
  <sensorpos name="loop_rear_left" parent="base_link" translateX="-0.07" translateY="0.14" translateZ="-0.04" />
  <sensorpos name="loop_rear_right" parent="base_link" translateX="-0.07" translateY="-0.14" translateZ="-0.04" />

  <!-- CONFINEMENT SENSORs -->
  <sensorpos name="col_front_chassis" parent="base_link" translateX="0.55" translateY="0.0" translateZ="0.00" />
  <sensorpos name="col_front_left" parent="base_link" translateX="0.43" translateY="0.24" translateZ="0.00" />
  <sensorpos name="col_front_right" parent="base_link" translateX="0.43" translateY="-0.24" translateZ="0.00" />
  <sensorpos name="col_rear_left" parent="base_link" translateX="-0.10" translateY="0.24" translateZ="0.0" />
  <sensorpos name="col_rear_right" parent="base_link" translateX="-0.10" translateY="-0.24" translateZ="0.0" />

  <!-- CUTTING DISC -->
  <link name="cutting_disc_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.11" />
      </geometry>
      <material name="Purple" />
    </visual>
  </link>

  <gazebo reference="cutting_disc_center">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <joint name="cutting_disc_center_joint" type="fixed">
    <parent link="base_link" />
    <child link="cutting_disc_center" />
    <origin xyz="0.25 0.0 -0.07" rpy="0 0 0" />
  </joint>


  <!-- Antenna -->
  <link name="antenna_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.05" />
      </geometry>
      <material name="Purple" />
    </visual>
  </link>

  <gazebo reference="antenna_center">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <joint name="antenna_center_joint" type="fixed">
    <parent link="base_link" />
    <child link="antenna_center" />
    <origin xyz="0.27 0.0 0.0" rpy="0 0 0" />
  </joint>



  <!-- IMU01-left -->
  <link name="imu01_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.035 0.02"/>
      </geometry>
      <material name="Black" />
    </visual>
  </link>

  <joint name="imu01_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu01_link" />
    <origin xyz="0.0 0.16 0.37" rpy="3.142 0.0 1.571" />
  </joint>

    <!-- IMU02-right -->
  <link name="imu02_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.035 0.02"/>
      </geometry>
      <material name="Black" />
    </visual>
  </link>

  <joint name="imu02_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu02_link" />
    <origin xyz="0.0 -0.16 0.37" rpy="3.142 0.0 1.571" />
  </joint>


  <!-- GNSS01-left -->
  <link name="gnss01_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="Black" />
    </visual>
  </link>

  <joint name="gnss01_joint" type="fixed">
    <parent link="base_link" />
    <child link="gnss01_link" />
    <origin xyz="0.21 0.182 0.37" rpy="0 0 0" />
  </joint>

    <!-- GNSS02-right -->
  <link name="gnss02_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="Black" />
    </visual>
  </link>

  <joint name="gnss02_joint" type="fixed">
    <parent link="base_link" />
    <child link="gnss02_link" />
    <origin xyz="0.21 -0.182 0.37" rpy="0 0 0" />
  </joint>


  <!-- GAZEBO STUFF FISHY PART!!! -->
  <gazebo>
    <plugin name="automower_gazebo_controller" filename="libam_gazebo_controller_2wd.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <leftJoint>back_left_wheel_joint</leftJoint>
      <rightJoint>back_right_wheel_joint</rightJoint>
      <wheelSeparation>0.4645</wheelSeparation>
      <wheelDiameter>0.245</wheelDiameter>
      <wheelTorque>100</wheelTorque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <!-- <wheelAcceleration>0</wheelAcceleration> -->
      <publishWheelJointState>false</publishWheelJointState>
      <odometrySource>encoder</odometrySource>
    </plugin>

    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" >
      <legacyModeNS>true</legacyModeNS>
    </plugin>


    <plugin name="imu_plugin_01" filename="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu01_link</bodyName>
      <topicName>imu_01</topicName>
      <serviceName>imu01_service</serviceName>
      <updateRate>10.0</updateRate>
      <rpyOffsets>0 0 0</rpyOffsets>

      <gaussianNoise>0.0</gaussianNoise>  
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
      <headingDrift>0.0</headingDrift>
      <headingGaussianNoise>0.00</headingGaussianNoise>
    </plugin>


    <plugin name="imu_plugin_02" filename="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu02_link</bodyName>
      <topicName>imu_02</topicName>
      <serviceName>imu02_service</serviceName>
      <updateRate>10.0</updateRate>
      <rpyOffsets>0 0 0</rpyOffsets>

      <gaussianNoise>0.0</gaussianNoise>  
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
      <headingDrift>0.0</headingDrift>
      <headingGaussianNoise>0.00</headingGaussianNoise>
    </plugin>


    <plugin name="gnss01_sim" filename="libhector_gazebo_ros_gps.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>4.0</updateRate>
      <bodyName>gnss01_link</bodyName>
      <topicName>fix01</topicName>
      <velocityTopicName>fix_vel02</velocityTopicName>
      <drift>5.0 5.0 5.0</drift>
      <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
      <velocityDrift>0 0 0</velocityDrift>
      <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
    </plugin>

    <plugin name="gnss02_sim" filename="libhector_gazebo_ros_gps.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>4.0</updateRate>
      <bodyName>gnss02_link</bodyName>
      <topicName>fix02</topicName>
      <velocityTopicName>fix_vel01</velocityTopicName>
      <drift>5.0 5.0 5.0</drift>
      <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
      <velocityDrift>0 0 0</velocityDrift>
      <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
    </plugin>


    <plugin name="am_gazebo_wheelencoder" filename="libam_gazebo_wheelencoder.so"></plugin>
  </gazebo>


  <gazebo reference="base_link">
    <sensor name="automower_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
      <contact>
        <collision>base_link_collision</collision>
      </contact>
      <plugin name="automower_sensors_plugin" filename="libam_gazebo_sensors.so">
        <always_on>true</always_on>
        <update_rate>20</update_rate>
        <bumperTopicName>sensor_status</bumperTopicName>
        <loopTopicName>loop</loopTopicName>
        <!-- 0x01 = FC, 0x02 = FR, 0x04 = RL, 0x08 = RR -->
        <loopOutsideSensors>15</loopOutsideSensors>
      </plugin>
    </sensor>
  </gazebo>


  <!-- Camera, in practice for D435  -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.05 1 0.05"/>
      </geometry>
    </collision>
  <!-- 90 mm x 25 mm x 25 mm -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="camera_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="0.23 0.03 0.33" rpy="0.0 -0.01 0.0" />
  </joint>


<!-- Hide the simulation for the moment. The true D435 model is available at https://github.com/pal-robotics/realsense_gazebo_plugin  -->
<!--   <gazebo reference="camera_link">
    <sensor type="camera" name="D435">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>

      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera_test</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo> -->

</robot>
