<launch>


  <!-- Select which sensors are to be used -->
  <arg name="useCustomOdom" default="True"  />
  <arg name="useLeftGNSS"   default="False" />
  <arg name="useRightGNSS"  default="False" />
  <arg name="useLeftIMU"    default="True" />
  <arg name="useRightIMU"   default="False" />

  <group if="$(arg useCustomOdom)" >
    <node name="encoder_odo_pub"
          pkg="am_sensors"
          type="encoder_odo">
      <!-- <param name="" value="" /> -->
    </node>
  </group>

  <!-- convert the original gnss measurement -->
  <group if="$(arg useLeftGNSS)" 
    ns="gnss_left">
    <node name="gnss_left_pub"
          pkg="am_sensors"
          type="gnss_pub.py">
      <param name="device_serial_number" value="285614" />
    </node>
  </group>

  <group if="$(arg useRightGNSS)" 
    ns="gnss_right">
    <node name="gnss_right_pub"
          pkg="am_sensors"
          type="gnss_pub.py">
    <param name="device_serial_number" value="285332" />
    </node>
  </group>


  <!-- launch the IMUs -->
  <group if="$(arg useLeftIMU)"
    ns="imu_left">

    <include file="$(find am_sensors)/launch/imu_left.launch" />

    <node name="imu_trans_pub"
          pkg="am_sensors"
          type="imu_trans">
      <param name="topic_name" value="imu/data"/>
      <param name="frame_name" value="imu01_link"/>
    </node>

  </group>

  <group if="$(arg useRightIMU)"
    ns="imu_right">

    <include file="$(find am_sensors)/launch/imu_right.launch" />

    <node name="imu_trans_pub"
          pkg="am_sensors"
          type="imu_trans">
      <param name="topic_name" value="imu/data"/>
      <param name="frame_name" value="imu02_link"/>
    </node>

  </group>


</launch>