<launch>
  
    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="/videofile/image_raw" type="str" />
        
        <!-- Camera calibration file -->
        <rosparam file="$(find am_sensors)/param/svo/camera_pinhole.yaml" />
        
        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(find am_sensors)/param/svo/vo_fast.yaml" />

    </node>
        
</launch>
