<launch>
	<arg name="processSensors" default="True" />
	<arg name="fuseSensors" default="True" />
	<arg name="useMagAndGNSSYaw" default="False" />
	<arg name="runRtabmap" default="False" />
	<arg name="openRviz" default="False" />
	<arg name="showRqt" default="False" />
	<arg name="publishTrackerInRviz" default="False" />
	<arg name="usePlotjuggler" default="False" />
	<arg name="generatePlot" default="False" />


	<arg name="rate" default="4.0" />
	<arg name="useSimTime" default="True" />
	<arg name="path" default=" $(env HOME)/bags/lawn/" />
	<arg name="file_1" default="lawn_one_lap_20201122_restamped.bag" />
	<!-- <arg name="file_1" default="lawn_three_laps_20201122_restamped.bag" /> -->
	<!-- <arg name="file_1" default="test_2020-11-22-14-45-57.bag" /> -->
	<!-- <arg name="path" default=" $(env HOME)/bags/outdoor_test20200815/" /> -->
	<!-- <arg name="file_1" default="test_simple_with_vision_20200815.bag" /> -->
	
	<!-- For additional bag file to play concurrently. -->
	<!-- <arg name="file_2" default="mfile_2" /> -->

	<param name="robot_description" command="xacro --inorder '$(find am_description)/urdf/automower.urdf.xacro'" />

	<node pkg="rosbag" type="play" name="bag_play" output="screen" args=" -r $(arg rate) --clock $(arg path)$(arg file_1) /imu_left/imu/data:=/imu_left/imu/data_old /imu_right/imu/data:=/imu_right/imu/data_old "/>
  	
	<rosparam file="$(find am_control)/config/joint_position_control.yaml" command="load" />

	<!-- source that publishes the joint positions as a sensor_msgs/JointState -->
	<node name="joint_state_publisher"
	    pkg="joint_state_publisher"
	    type="joint_state_publisher" >
		<param name="use_gui" value="false" />
	</node>

	<!-- publish all the frames to TF -->
	<node name="robot_state_publisher"
	    pkg="robot_state_publisher"
	    type="state_publisher" >
		<param name="publish_frequency" value="20" /> 
		<param name="use_tf_static" value="false" /> 
	</node>


	<group if="$(arg useSimTime)">
		<param name="use_sim_time" value="true" />
	</group>

  	<group if="$(arg openRviz)">
		<!-- <node type="rviz" name="rviz" pkg="rviz" /> -->
		<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find am_test)/rviz/bag_play_with_vision.rviz"/> 
	</group>

	<!-- launch rqt gui -->
	<group if="$(arg showRqt)">	
		<node name="rqt" pkg="rqt_gui" type="rqt_gui"></node>
	</group>
  
  	<group if="$(arg processSensors)">
	    <include file="$(find am_test)/launch/bag_sensors.launch" />
	</group>

	<group if="$(arg fuseSensors)">
	  	<include file="$(find am_test)/launch/bag_ekf.launch" />
	</group>

	<group if="$(arg useMagAndGNSSYaw)">
	  	<node name="yaw_estimator" pkg="am_test" type="mag_gnss_yaw_estimator.py" />
	</group>

	<group if="$(arg runRtabmap)">
	    <include file="$(find am_sensors)/launch/rtabmap.launch" />
	</group>

	<group if="$(arg usePlotjuggler)" >
		<node pkg="plotjuggler" type="PlotJuggler" name="plot_Juggler" args="" />
	</group>

	<group if="$(arg generatePlot)" >
		<node pkg="am_test" type="fig_plot.py" name="plot_traces" args="" />
	</group>

  	<group if="$(arg publishTrackerInRviz)">
		<node name="trace_pub"
		        pkg="am_sensors"
		        type="tracking_marker_pub"
		        output="screen">
		    <param name="trace_amount"  value="2" />
		    <param name="frequency"     value="25" />
		    <param name="pose_topic1"   value="/odom"/>
		    <param name="data_type1"    value="nav_msgs/Odometry"/> 
		    <param name="color1"        value="red"/>
		    <param name="pose_topic2"   value="/odometry/filtered" />
		    <param name="data_type2"    value="nav_msgs/Odometry"/> 
		    <param name="color2"        value="green"/>
		    <param name="pose_topic3"   value="/GPSfix_processed" />
		    <param name="data_type3"    value="geometry_msgs/PoseWithCovarianceStamped"/> 
		    <param name="color3"        value="orange"/>
		    <param name="pose_topic4"   value="/gnss_right/pose" />
		    <param name="data_type4"    value="geometry_msgs/PoseWithCovarianceStamped"/> 
		    <param name="color4"        value="yellow"/>
		    <!-- <param name="pose_topic5"   value="/rtabmap/odom"/> -->
		    <!-- <param name="data_type5"    value="nav_msgs/Odometry"/>  -->
		    <!-- <param name="color5"        value="cyan"/> -->
		  </node>
	</group>

</launch>


<!-- Midsummer 2021 -->
<!-- Football -->
<!-- Frisbee -->
<!-- Speaker -->
<!-- Anti-mosqito -->

