<launch>

  <!-- Select which sensors are to be used -->
  <arg name="useCustomOdom" default="True"  />
  <arg name="useLeftIMU"    default="True" />
  <arg name="useRightIMU"   default="True" />
  <arg name="useOriginalGPS" default="True"  />
  <arg name="useLeftGNSS"   default="False" />
  <arg name="useRightGNSS"  default="False" />


  <!-- Only indicating if using cpt filter or magdwick. -->
  <arg name="useCptFilter"  default="True"/>

  <group if="$(arg useCustomOdom)" >
    <node name="odom_repub"
          pkg="am_test"
          type="odom_repub.py">
    </node>
  </group>

  <group if="$(arg useOriginalGPS)" >
    <node name="gnss_process"
          pkg="am_test"
          type="gnss_process.py">
    </node>
  </group>


  <!-- convert the original gnss measurement -->
  <group if="$(arg useLeftGNSS)" 
    ns="gnss_left">
    <!-- <node name="gnss_left_pub" -->
          <!-- pkg="am_sensors" -->
          <!-- type="gnss_pub.py"> -->
      <!-- <param name="device_serial_number"  value="285614" /> -->
      <!-- Unit: in second or meter -->
      <!-- <param name="warming_time"   value="50"/>  -->
      <!-- <param name="pub_frequency"  value="10"/> -->
      <!-- <param name="control_stdev"  value="10" />       -->
    <!-- </node> -->

    <node name="gnss_left_sim_pub"
          pkg="am_test"
          type="gnss_simu.py">   
    </node>
  </group>


  <group if="$(arg useRightGNSS)" 
    ns="gnss_right">
    <!-- <node name="gnss_right_pub" -->
          <!-- pkg="am_sensors" -->
          <!-- type="gnss_pub.py"> -->
      <!-- <param name="device_serial_number" value="285332" /> -->
      <!-- Unit: in second or meter -->
      <!-- <param name="warming_time"   value="50"/>  -->
      <!-- <param name="pub_frequency"  value="10"/> -->
      <!-- <param name="control_stdev"  value="10" />  -->
    <!-- </node> -->

    <node name="gnss_right_sim_pub"
          pkg="am_test"
          type="gnss_simu.py">   
    </node>
  </group>


  <!-- launch the IMUs -->
  <group if="$(arg useLeftIMU)"
    ns="imu_left">

    <node name="imu_process_left"
          pkg="am_sensors"
          type="imu_process">
      <param name="topic_name" value="imu/data"/>
      <param name="frame_name" value="imu01_link"/>
      <param name="align_with_clock" value="false"/>
      <param name="pub_test_tf" value="false"/>
      <param name="publish_enu_tf"  value="true"/>
      <param name="xyz" value="0.0 0.16 0.37"/>
      <param name="rpy" value="3.1071889 0.0 1.5707963"/>
      <param name="publish_rpy" value="false"/>
      <param name="do_pub_control" value="false"/>
      <param name="trans_velocity_threshold" value="1.0"/>
      <param name="angular_velocity_threshold" value="1.5"/>
      <param name="do_covariance_adaption" value="true"/>
      <param name="orientation_stddev_r" value="0.02"/>
      <param name="orientation_stddev_p" value="0.02"/>
      <param name="orientation_stddev_y" value="0.1"/>
      <param name="velocity_stddev_r" value="0.02"/>
      <param name="velocity_stddev_p" value="0.02"/>
      <param name="velocity_stddev_y" value="0.1"/>
      <param name="do_yaw_offset_correction" value="true"/>
      <!-- <param name="offset_topic_name" value="/yaw_mag_gnss"/>      -->
    </node>

    <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node_left" output="screen">
      <param name="do_bias_estimation" value="false"/>
      <param name="do_adaptive_gain" value="true"/>
      <param name="use_mag" value="false"/>
      <param name="gain_acc" value="0.06"/>
      <param name="gain_mag" value="0.00001"/>
      <param name="fixed_frame" value="map"/>
      <param name="publish_tf"  value="false"/>     
      <param name="orientation_stddev" value="0.1"/>
      <!-- Customized part, low-pass filters for acc and mag added -->
      <param name="do_acc_lowpass" value="false"/>
      <param name="do_mag_lowpass" value="true"/>
      <param name="alpha_acc" value="0.5"/>
      <param name="alpha_mag" value="0.10"/>
    </node>

    <node name="imu_left_yaw_offset_estimator"
          pkg="am_test"
          type="mag_gnss_yaw_estimator.py">
      <param name="initial_yaw_offset" value="0.35"/>
    </node>
  </group>

  <group if="$(arg useRightIMU)"
    ns="imu_right">

    <node name="imu_process_right"
          pkg="am_sensors"
          type="imu_process">
      <param name="topic_name" value="imu/data"/>
      <param name="frame_name" value="imu02_link"/>
      <param name="align_with_clock" value="false"/>
      <param name="pub_test_tf" value="false"/>
      <param name="publish_enu_tf"  value="true"/>
      <param name="xyz" value="0.0 -0.16 0.37"/>
      <param name="rpy" value="3.1090238 0.0 1.5707963"/>
      <param name="publish_rpy" value="false"/>
      <param name="do_pub_control" value="false"/>
      <param name="trans_velocity_threshold" value="1.0"/>
      <param name="angular_velocity_threshold" value="1.5"/>
      <param name="do_covariance_adaption" value="true"/>
      <param name="orientation_stddev_r" value="0.02"/>
      <param name="orientation_stddev_p" value="0.02"/>
      <param name="orientation_stddev_y" value="0.4"/>
      <param name="velocity_stddev_r" value="0.002"/>
      <param name="velocity_stddev_p" value="0.002"/>
      <param name="velocity_stddev_y" value="0.04"/>
      <param name="do_yaw_offset_correction" value="true"/>
      <!-- <param name="offset_topic_name" value="/yaw_mag_gnss"/>      -->
    </node>

    <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node_right" output="screen">
      <param name="do_bias_estimation" value="false"/>
      <param name="do_adaptive_gain" value="true"/>
      <param name="use_mag" value="false"/>
      <param name="gain_acc" value="0.035"/>
      <param name="gain_mag" value="0.000001"/>
      <param name="fixed_frame" value="map"/>
      <param name="publish_tf"  value="false"/>
      <param name="orientation_stddev" value="0.01"/>
      <!-- Customized part, low-pass filters for acc and mag added -->
      <param name="do_acc_lowpass" value="false"/>
      <param name="do_mag_lowpass" value="true"/>
      <param name="alpha_acc" value="0.5"/>
      <param name="alpha_mag" value="0.10"/>
    </node>

    <node name="imu_right_yaw_offset_estimator"
          pkg="am_test"
          type="mag_gnss_yaw_estimator.py">
      <param name="initial_yaw_offset" value="0.10"/>
    </node>
  </group>


</launch>